.start {
  text-align: center;
}
.answer{
  margin: 3px;
  padding: 0px;
}
h2{
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.check{
	background-color: #63FF48;
  border-radius: 7px;
  outline: none;
	font-family: serif;
	font-size: 16px;
	margin-top:  7px
}
.next{
	background-color: #FF7948;
  border-radius: 7px;
  outline: none;
	font-family: serif;
	font-size: 16px;
	margin-top:  7px
}
textarea{
	outline: none;
	resize: none;
}
.cancel{
	background-color: grey;
  border-radius: 7px;
  outline: none;
	font-family: serif;
	font-size: 16px;
	margin-top:  7px
}
body{
	font-family: serif;
}
p{
	font-weight: normal;
}
