/*стили для начального блока*/
.start {
  text-align: center;
}
/*стили для блока ответа*/
.answer{
  margin: 3px;
  padding: 0px;
}
/*стили для заголовка 2-ого уровня*/
h2{
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: white;
}
/*стили для кнопки "начать"*/
.nach{
background-color: #E42E00;
}
/*стили для кнопки "проверить"*/
#check{
background-color: #E42E00;
}
/*стили для кнопки "далее"*/
.next{
	background-color: #00db07;
}
/*стили для поля ввода текста*/
textarea{
	outline: none;
	resize: none;
  background-color:transparent;
	width:50%;
    height: 5%;
    border-radius: 5px;
    box-shadow: 0 0 15px #fff;
    margin-top: 10px;
}
/*стили для кнопки "отмена"*/
.can{
	background-color: grey;
}
/*стили для элементов страницы*/
body{
  background-image: url(../IMJ/background.png);
  font-family: Tahoma, sans-serif;
  font-size:14px;
  margin: 0px;
  padding: 0px;
  margin-top: 5%;
}
/*стили для абзацев*/
p{
	font-weight: normal;
}
/*стили для кнопки "узнать результат"*/
.itog{
	background-color: #7F00BE;
}
/*стили для заголовков 4-ого и 6-ого уровней*/
h4, h6{
	text-align: center;
}
/*Стили для блоков*/
div {
    margin-bottom:15px;
    width:auto;
    height: auto;
    background-color: #ffffff;
    border: 2px solid #D4D4D4;
    border-radius: 30px;
    margin-right:  5%;
    margin-left: 5%;
    padding: 12px;
    position: relative;
}
/*стили для кнопки "пройти "*/
#cancel{
  background-color: grey;
  text-align: center;
  margin-left: 43%;
}
/*стили для абзацев*/
.res{
  text-align: center;
}
/*стили для блока "узнать результат"*/
#r{
	text-align: center;
	align-self: center;
	align-content: center;
	vertical-align: middle;
	padding-bottom: 15px;
  background-color: #7F00BE;
}
/*стили для кнопок*/
button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
  font-family: Tahoma, sans-serif;
  color: white;
  transition: .2s ease-in-out;
}
/*стили для кнопок (при наведении курсора)*/
button:hover {
  background: #000;
  color: #fff;
}
/*стили для параграфа с рузультатом*/
#result{
  font-size:24px;
  text-align: center;
}
